language: c

# Default linux jobs
os: linux
sudo: required
dist: trusty

# Include osx jobs
matrix:
  include:
    # - os: osx
    #   arch: amd64
    #   compiler: clang # use default apple clang
    #   env:
    #     - LABEL="osx-clang"
    # - os: linux
    #   arch: amd64
    #   addons:
    #     apt:
    #       sources:
    #         - ubuntu-toolchain-r-test
    #       packages:
    #         - g++-7
    #   env:
    #     - LABEL="x86_64-gcc"
    # - os: linux
    #   arch: amd64
    #   addons:
    #     apt:
    #       sources:
    #         - llvm-toolchain-trusty-5.0
    #       packages:
    #         - clang-5.0
    #   env:
    #     - LABEL="x86_64-clang"
    # - os: linux
    #   arch: arm64
    #   addons:
    #     apt:
    #       sources:
    #         - ubuntu-toolchain-r-test
    #       packages:
    #         - g++-7
    #   env:
    #     - LABEL="arm64-gcc"
    # - os: linux
    #   arch: arm64
    #   addons:
    #     apt:
    #       packages:
    #         - clang-8
    #   env:
    #     - LABEL="arm64-clang"
    # - os: linux
    #   services: docker
    #   env:
    #     - LABEL="armhf-gcc"
    #     - ENABLE_DOCKER="true"
    # - arch: ppc64le
    #   dist: bionic
    #   env:
    #     - LABEL=common
    #     - OMP_WAIT_POLICY=passive CTEST_OUTPUT_ON_FAILURE=TRUE
    # - arch: ppc64le
    #   compiler: clang
    #   dist: bionic
    #   env:
    #     - LABEL=common
    #     - OMP_WAIT_POLICY=passive CTEST_OUTPUT_ON_FAILURE=TRUE
    - os: linux
      dist: bionic
      arch: s390x
      addons:
        apt:
          packages:
            - g++-7 libmpfr-dev libssl-dev libfftw3-dev
      env:
        - LABEL="s390x-gcc"
    - os: linux
      dist: bionic
      arch: s390x
      compiler: clang
      addons:
        apt:
          packages:
            - clang-9 libmpfr-dev libssl-dev libfftw3-dev
      env:
        - LABEL="s390x-clang"

before_install:
     - export PATH=$PATH:/usr/bin
     - cd ${TRAVIS_BUILD_DIR}
     - chmod +x ${TRAVIS_BUILD_DIR}/travis/*.sh
     - if [[ "${ENABLE_DOCKER}" == "true" ]]; then ${TRAVIS_BUILD_DIR}/travis/setupdocker.sh; fi
     - if [[ "${ENABLE_DOCKER}" == "true" ]]; then docker exec xenial /build/travis/before_install.${LABEL}.sh; fi
     - if [[ "${ENABLE_DOCKER}" != "true" ]]; then ${TRAVIS_BUILD_DIR}/travis/before_install.${LABEL}.sh; fi

before_script:
     - if [[ "${ENABLE_DOCKER}" == "true" ]]; then docker exec xenial /build/travis/before_script.${LABEL}.sh; fi
     - if [[ "${ENABLE_DOCKER}" != "true" ]]; then ${TRAVIS_BUILD_DIR}/travis/before_script.${LABEL}.sh; fi

script:
     - if [[ "${ENABLE_DOCKER}" == "true" ]]; then docker exec xenial /build/travis/script.${LABEL}.sh; fi
     - if [[ "${ENABLE_DOCKER}" != "true" ]]; then ${TRAVIS_BUILD_DIR}/travis/script.${LABEL}.sh; fi
