language: c

matrix:
  include:
    - os: linux
      sudo: required
      dist: trusty
      group: edge
    - os: osx

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo add-apt-repository -y ppa:adrozdoff/cmake        ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq update                               ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y cmake libmpfr-dev libgomp1 gcc; fi

compiler:
    - gcc

before_script:
  - mkdir sleef.build
  - cd sleef.build
  - cmake -DCMAKE_BUILD_TYPE=Release ..

script:
  - make test-libm VERBOSE=1

