language: c

# Default linux jobs
os: linux
sudo: required
dist: trusty

# Include osx jobs
matrix:
  include:
    - os: osx
      osx_image: xcode8
      compiler: gcc
      env:
        - MATRIX_EVAL="brew install gcc@6 && CC=gcc-6" # install and use gcc
    - os: osx
      compiler: clang # use default apple clang
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
      env:
        - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo add-apt-repository -y ppa:adrozdoff/cmake; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get -qq update                       ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y cmake libmpfr-dev     ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx"   ]]; then brew update                                   ; fi
  - eval "${MATRIX_EVAL}"

before_script:
  - if [[ "$CC" == "gcc" ]] &&  [[ "$TRAVIS_OS_NAME" == "linux" ]]; then make libsleef; fi
  - if [[ "$CC" == "gcc" ]] &&  [[ "$TRAVIS_OS_NAME" == "linux" ]]; then make test-dft; fi
  - git clean -f
  - mkdir sleef.build
  - cd sleef.build
  - cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=../install -DSLEEF_SHOW_CONFIG=1 ..

script:
  - CTEST_OUTPUT_ON_FAILURE=TRUE make all test -j2 ARGS=-j2
  - make install
