
// custom SCSS (or CSS) goes here

// New custom classes specific to blog section
.date {
  font-style: italic;
  color: $grey-dk-000;
}


.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $grey-lt-300;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

